<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">TinyURL</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li ng-class="{active: isActive('/')}"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            </ul>
            <ul class="nav navbar-nav" ng-if="isActive('/urlInfo')">
                <li class="active"><a href="javascript:void(0)"><span class="glyphicon glyphicon-stats"></span> Stats</a></li>
            </ul>
            <ul class="nav navbar-nav" ng-if="isActive('/error')">
                <li class="active"><a href="javascript:void(0)"><span class="glyphicon glyphicon-remove"></span> Error</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right nav">
                <li><a href="javascript:void(0)" ng-click="$ctrl.openSignup()"><span class="glyphicon glyphicon-pencil"></span> Sign Up</a></li>
                <li><a href="javascript:void(0)" ng-click="$ctrl.openLogin()"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
            </ul>
        </div>
    </div>
</nav>
