<div class="jumbotron">
    <h1>Hello, you are using our public shortening service.</h1>
    <p>We encourage you to log in to have own short urls managed!</p>
    <p><a class="btn btn-warning btn-sm" href="javascript:void(0)" role="button" ng-click="$ctrl.openSignup()">Sign up
        now</a></p>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <h4><span class="glyphicon glyphicon-share-alt "></span> Simplify your looooooooooooong URL</h4>
        <form ng-submit="submit()">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">#</span>
                    <input type="text" class="form-control" placeholder="Your original URL here"
                           aria-describedby="basic-addon1" ng-model="longUrl">
                    <span class="input-group-addon"
                          style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
                    <select class="form-control" ng-model="validitySelect">
                        <option value="forever">Never Expired</option>
                        <option value="oneHour">Expired in One Hour</option>
                        <option value="oneDay">Expired in One Day</option>
                        <option value="oneMonth">Expired in One Month</option>
                        <option value="oneYear">Expired in One Year</option>
                        <option value="customize">Customize</option>
                    </select>
                </div>
                <div class="form-group col-md-7 col-md-offset-6" ng-if="validitySelect==='customize'">
                    <br>
                    <div class="input-group" >
                        <span class="input-group-addon" id="basic-addon2">@</span>
                        <span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
                        <input type="number" min="0" max="1000" class="form-control" placeholder="Months"
                               aria-describedby="basic-addon2" ng-model="$parent.months">
                        <span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
                        <input type="number" min="0" max="10000" class="form-control" placeholder="Days"
                               aria-describedby="basic-addon2" ng-model="$parent.days">
                        <span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
                        <input type="number" min="0" max="10000" class="form-control" placeholder="Hours"
                               aria-describedby="basic-addon2" ng-model="$parent.hours">
                        <span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
                        <input type="number" min="0" max="100000" class="form-control" placeholder="Minutes"
                               aria-describedby="basic-addon2" ng-model="$parent.minutes">
                    </div>
                </div>
            </div>

            <div><p>Select "Expired Time" will always create a <b>new</b> short URL.</p></div>
            <input type="submit" value="Get Your Short URL" class="btn btn-primary">
        </form>
    </div>
</div>



