<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4><span class="glyphicon glyphicon-share-alt "></span> Input your looooooooooooong URL</h4>
        <form ng-submit="submit()">
            <div class="form-group">
                <input class="form-control" type="text" ng-model="longUrl">
            </div>
            <input type="submit" value="Get Your Short URL" class="btn btn-primary">
        </form>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Original URL</th>
                <th>
                    <a href="javascript:void(0)" ng-click="reverseSort = !reverseSort">
                        Created
                        <span ng-if="reverseSort" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-if="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                </th>
                <th>Short URL</th>
                <th>Analytics</th>
                <th colspan="2">Manage ShortURL</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="url in urls | orderBy: 'createdTime':reverseSort">
                <td><a ng-href="{{url.longUrl}}">{{url.longUrl}}</a></td>
                <td><p ng-bind="url.createdTime | date: dateFormat"></p></td>
                <td><a href="{{prefix + url.shortUrl}}">{{prefix + url.shortUrl}}</a></td>
                <td><a ng-href="#/user/urlInfo/{{url.shortUrl}}"><span class="glyphicon glyphicon-stats"></span> Stats</a></td>
                <td><a href="#"><span class="glyphicon glyphicon-file"></span> Edit</a></td>
                <td><a href="#"><span class="glyphicon glyphicon-remove"></span> Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>