<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h4><span class="glyphicon glyphicon-share-alt "></span> Simplify your looooooooooooong URL</h4>
        <form ng-submit="submit()">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">#</span>
                    <input type="text" class="form-control" placeholder="Your original URL here"
                           aria-describedby="basic-addon1" ng-model="longUrl">
                    <span class="input-group-addon"
                          style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
                    <select class="form-control" ng-model="validitySelect">
                        <option value="forever">Never Expired</option>
                        <option value="oneHour">Expired in One Hour</option>
                        <option value="oneDay">Expired in One Day</option>
                        <option value="oneMonth">Expired in One Month</option>
                        <option value="oneYear">Expired in One Year</option>
                        <option value="customize">Customize</option>
                    </select>
                </div>
                <div class="form-group col-md-7 col-md-offset-6" ng-if="validitySelect==='customize'">
                    <br>
                    <div class="input-group" >
                        <span class="input-group-addon" id="basic-addon2">@</span>
                        <span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
                        <input type="number" min="0" max="1000" class="form-control" placeholder="Months"
                               aria-describedby="basic-addon2" ng-model="$parent.months">
                        <span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
                        <input type="number" min="0" max="10000" class="form-control" placeholder="Days"
                               aria-describedby="basic-addon2" ng-model="$parent.days">
                        <span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
                        <input type="number" min="0" max="10000" class="form-control" placeholder="Hours"
                               aria-describedby="basic-addon2" ng-model="$parent.hours">
                        <span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
                        <input type="number" min="0" max="100000" class="form-control" placeholder="Minutes"
                               aria-describedby="basic-addon2" ng-model="$parent.minutes">
                    </div>
                </div>
            </div>

            <div><p>Enter "Expired Time" will always create a <b>new</b> short URL.</p></div>
            <input type="submit" value="Get Your Short URL" class="btn btn-primary">
        </form>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Original URL</th>
                <th>
                    <a href="javascript:void(0)" ng-click="reverseSort = !reverseSort">
                        Created
                        <span ng-if="reverseSort" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-if="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                </th>
                <th>Short URL</th>
                <th>Emoji URL</th>
                <th>IsValid</th>
                <th>Analytics</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="url in urls | orderBy: 'createdTime':reverseSort">
                <td style="word-wrap: break-word;min-width: 160px;max-width: 300px;"><a ng-href="{{url.longUrl}}">{{url.longUrl}}</a>
                </td>
                <td><p ng-bind="url.createdTime | date: dateFormat"></p></td>
                <td><a href="{{fullUrlPrefix + url.shortUrl}}">{{urlPrefix + url.shortUrl}}</a></td>
                <td><a href="{{fullUrlPrefix + url.emojiUrlToClick}}" ng-bind-html="url.emojiUrlToShow"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-success btn-xs" ngclipboard
                            data-clipboard-text="{{urlPrefix + url.emojiUrlToClick}}">
                        <span class="glyphicon glyphicon-scissors" aria-hidden="true"></span> Copy
                    </button>
                </td>

                <!--IsValid-->
                <td ng-if="url.isValid"><span class="glyphicon glyphicon-ok-circle"></span>Yes</td>
                <td ng-if="!url.isValid"><span class="glyphicon glyphicon-ban-circle"></span>No</td>

                <td><a ng-href="#/user/urlInfo/{{url.shortUrl}}"><span class="glyphicon glyphicon-stats"></span>
                    Stats</a></td>
                <td><a href="#"><span class="glyphicon glyphicon-file"></span></a>&nbsp;
                    <a href="#" ng-click="delete(url.shortUrl)"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>