<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <div class="row">
            <h4>Your long URL is: </h4>
            <a ng-href="{{longUrl}}" target="_blank">{{longUrl}}</a>
        </div>
        <div class="row">
            <h4>Your short URL is: </h4>
            <a ng-href="{{shortUrlToShow}}" target="_blank">{{shortUrlToShow}}</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                Total Clicks
            </div>
            <div class="panel-body">
                {{totalClicks }}
            </div>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                Click for the past:
                <a href="javascript:void(0);" ng-click="getTime('hour')" ng-class="{'text-muted': time ==='hour'}">Hour</a>
                <a href="javascript:void(0);" ng-click="getTime('day')" ng-class="{'text-muted': time ==='day'}">Day</a>
                <a href="javascript:void(0);" ng-click="getTime('month')" ng-class="{'text-muted': time ==='month'}">Month</a>
            </div>
            <div class="panel-body">
                <canvas id="line" class="chart chart-line" chart-data="lineData"
                        chart-labels="lineLabels">
                </canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Referers
            </div>
            <div class="panel-body">
                <canvas id="pie" class="chart chart-pie"
                        chart-data="pieData" chart-labels="pieLabels" chart-options="pieOptions">
                </canvas>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Countries
            </div>
            <div class="panel-body">
                <canvas id="doughnut" class="chart chart-doughnut"
                        chart-data="doughnutData" chart-labels="doughnutLabels">
                </canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Platforms
            </div>
            <div class="panel-body">
                <canvas id="bar" class="chart chart-bar"
                        chart-data="barData" chart-labels="barLabels" chart-series="barSeries">
                </canvas>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Browsers
            </div>
            <div class="panel-body">
                <canvas id="base" class="chart-horizontal-bar"
                        chart-data="baseData" chart-labels="baseLabels">
                </canvas>
            </div>
        </div>
    </div>
</div>